<section>
    <img src={{{thumbnails}}} />
</section>
<section>
    <h1>{{{title}}}</h1>
    <p><strong>Descripción : </strong>{{{description}}}</p>
    <p><strong>Codigo : </strong>{{{code}}}</p>
    <p><strong>Precio </strong>{{{price}}}</p>
    <button>+</button>
    <button>-</button>
</section>